<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sport.video.airplay">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity
            android:name=".ui.AirPlayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/airPlayTheme" />

        <service
            android:name=".service.ClingUpnpService"
            android:exported="false" />

        <service
            android:name=".service.SystemService"
            android:exported="false" />
    </application>
</manifest>
