<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sport.video.airplay">

    <application>
        <activity
            android:name="com.androidupnpdemo.ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service
            android:name="com.androidupnpdemo.service.ClingUpnpService"
            android:exported="false" />

        <service
            android:name="com.androidupnpdemo.service.SystemService"
            android:exported="false" />
    </application>
</manifest>
